In [4]:
import pandas as pd
import sqlite3

In [5]:
quotes_df = pd.read_csv('quotes.csv')
conn = sqlite3.connect('quotes.sqlite')
conn.execute("DROP TABLE Quotes;")
quotes_df.to_sql('Quotes',conn)

3

In [6]:
conn.execute('SELECT _id, author, book, quote FROM Quotes').fetchall()

[(0, 'Kurt Vonnegut', 'Slaughterhouse-Five', 'So it goes.'),
 (1, 'Hermann Hesse', 'Siddhartha', 'I can think. I can wait. I can fast.'),
 (2,
  'Ursula K. Le Guin',
  'The Dispossessed',
  'To make a thief, make an owner; to create crime, create laws.')]